{% extends 'base.html' %}
{% load static %}

{% block title %}{{ page_name }}{% endblock title %}

{% block content %}
    <!-- Start Cart  -->
    <div class="cart-box-main" style="background-color: #dadcde;">
        <div class="container">
            <div class="row new-account-login">
                <div class="col-sm-10 col-lg-9 mb-3 mx-auto">
                    <div class="title-left">
                        <h3>Create New Account</h3>
                    </div>
                    <h5><a data-toggle="collapse" href="#formRegister" role="button" aria-expanded="false">Click ici</a></h5>
                    <form class="mt-3 collapse review-form-box" id="formRegister" action="{% url 'store:edit_profile_view' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="InputName" class="mb-0">Prénom</label>
                                {{ form.first_name }}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="InputLastname" class="mb-0">Nom</label>
                                {{ form.last_name }}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="InputUsername" class="mb-0">Username</label>
                                {{ form.username }}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="state">Genre *</label>
                                    {{ client_form.gender }}
                                <div class="invalid-feedback"> Please provide a valid state. </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="InputEmail1" class="mb-0">Email</label>
                                {{ form.email }}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="phone" class="mb-0">Phone *</label>
                                {{ client_form.mobile }}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="InputPassword1" class="mb-0">Password</label>
                                {{ form.password }}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="address" class="mb-0">Address *</label>
                                {{ client_form.address }}
                            </div>
                            <div class="form-group col-md-12">
                                <label for="address" class="mb-0">Image *</label>
                                {{ client_form.profile_pic }}
                            </div>
                        </div>
                        <button type="submit" class="btn hvr-hover">Register</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <!-- End Cart -->
{% endblock content %}